.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.logInErrors{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 0, 0);
    margin-bottom: 5px;
    /* width: 300px; */
    /* padding: 2px 20px; */
    /* z-index: 999; */
}
.hidden{
    display: none;
}

.errs{
    background-color: red;
    height: 20px;
}
.userPageContainer{
    display: grid;
    grid-template-rows: 15px 50px 80vh;
}
.blackBar{
    height: 15px;
    background-color: rgb(0, 0, 0);
}
.userPageHeader{
    background-color: rgb(36, 36, 36);
    color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px black inset;
}
.userPageLogo-container{
    position: relative;
}
.userPageLogo{
    height: 50px;
    filter: saturate(0);
    mix-blend-mode: screen;
}

.userPageLogo-anim{
    position: absolute;
    left: 35px;
    height: 50px;
    mix-blend-mode: lighten;
    filter: saturate(0);
}

.userpageBody{
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.contentContainer{
    width: 90%;
    font-size: 29px;
    color: rgb(216, 216, 216);
    font-family: 'Montserrat', sans-serif;
}
.contentTitle{
    margin: 8px 0;
}

.userContentBox{
    background-color: rgb(59, 59, 59);
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    flex-basis: initial;
    max-height: 250px;
    overflow-y: auto;
}

.contentName{
    margin-top: 4px;
    font-size: 14px;
}


.contentImg{
    width: 45px;
    height: 66px;
}
.homeButton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: blue; */
}
.gears{
    /* background-color: red; */
    width: 50px;
    height: 50px;
    position: relative;
    filter: brightness(0.7);
    cursor: pointer;
    /* background-color: cadetblue; */
}
.gears:hover{
    filter: brightness(1);
}
.gear1{
    width: 30px;
    position: absolute;
    top: 15px;
    left: -1px;
}
.gear2{
    width: 25px;
    position: absolute;
    top: 3px;
    right: 0;
}

.ccw{
    animation:clockwise 14s linear infinite;
}
.cw{
    animation:counterClockwise 14s linear infinite;
}

@keyframes clockwise { 100% {
    transform:rotate(360deg);
}}

@keyframes counterClockwise { 100% {
    transform:rotate(-360deg);
}}


.contentLink,a.contentLink,a.contentLink:active,a.contentLink:visited,a.contentLink:active{
    width: 90px;
    display: flex;
    margin: 6px 8px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: relative;
}
a.contentLink:hover,.contentLink:hover{
    filter: brightness(1.2);
}

.logOut,.goHome{
    font-size: 24px;
    cursor: pointer;
    color: rgb(161, 161, 161);
    text-decoration: none;
}
.logOut:hover,.goHome:hover{
    color: white;
}
.linkEditGear{
    width: 20px;
    position: absolute;
    top: -7px;
    right: 15px;
    background-color: rgba(0, 0, 0, 40%);
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    margin: 0;
    padding: 0;

}
.linkEditGear{
    animation:counterClockwise 7s linear infinite;

}
.contentLink:nth-child(2n+0) > .linkEditGear{
    animation:clockwise 7s linear infinite;
}

.contentLink:nth-child(2n+3) > .linkEditGear{
    animation:counterClockwise 7s linear infinite;
}
