.scene_delete_button{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    background-color: rgb(39, 39, 39);
    color: rgb(240, 130, 130);
    border: 1px solid rgb(1, 170, 15);
    z-index: 9000;
    margin: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
