.categoryContainer{
    width: 400px;
    /* height: 40px; */
    background-color: grey;
    /* border: 1px solid green; */
}
.categoryName{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
}
