.fauxUserPageContainer{
    display: grid;
    grid-template-rows: 15px 50px 86vh;
    filter: blur(3px) brightness(0.8);
}
.soundPreviewWrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    /* background-color: rgba(155, 0, 0, 30%); */
    display: flex;
    justify-content: center;
    align-items: center;

}
.soundPreview{
    position: relative;
}
.fauxUserPage{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    width: 100vw;
    height: 100vh;
}

.close_soundPreview{
    position: absolute;
    color: rgb(214, 214, 214);
    top: 2px;
    right: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
