.delete_sound_form{
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    width: 300px;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(216, 216, 216);
    padding: 20px;
    box-shadow: 0 0 15px rgb(255, 0, 0);
    /* margin: 80px auto; */
    background-color: rgb(73, 51, 51);
    border-radius: 8px;
    border: 1px solid rgb(255, 0, 0);
    animation-duration: 1s;
    animation-name: redColorChange;
    animation-iteration-count:infinite;

    position:absolute;
    /* left: 40%;
    top: 10%; */
    z-index: 100;
}
.top_rounded_submit{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.delete_sound_submit{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    background-color: rgb(110, 91, 91);
    color: rgb(216, 216, 216);
    border: 1px solid rgb(255, 0, 0);
    animation-duration: 1s;
    z-index: 9;
    margin-top: 10px;
    animation-name: redColorChange;
    animation-iteration-count:infinite;


}

@keyframes redColorChange {
    0%   {filter: hue-rotate(20deg);}
    50%   {
        filter: hue-rotate(0deg);
        box-shadow: 0 0 10px rgb(255, 0, 0);

    }
    100%   {filter: hue-rotate(20deg);}
  }
