body{
    background-color: rgb(41, 41, 41);
}
.ScenePageBody{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* width: 100vw; */
    /* overflow-x: scroll; */
    /* margin: 0 40px; */
    height: 90vh;

    /* background-color: indianred; */
}
.newSceneGear{
    width: 50px;
}


.newSceneGear{
    position: relative;
    width: 75px;
    top: 6px;
    /* background-color: rgba(0, 0, 0, 40%); */
    /* box-shadow: 0 0 10px black; */
    border-radius: 20px;
    filter: brightness(80%);
    margin-left: 8px;
    animation:clockwise 14s linear infinite;
    cursor: pointer;

}

.newSceneWrapper:hover{
    filter: brightness(100%);
    background-color: rgb(65, 65, 65);

}

.addNewCategoryText{
    margin-top: 18px;
}
.addNewSceneText{
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0%);

}
.addNewSceneText:hover{
    border-bottom: 1px solid white;
}

.newSceneWrapper{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    background-color: rgb(39, 39, 39);
    box-shadow: 0 0 6px black inset;
    /* height: 80px; */
    /* padding: 5px; */
    margin: 4px 7px;
    border: 1px solid;
    border-radius: 8px;
    width: 404px;
    /* height: auto; */
    font-family: 'Montserrat', sans-serif;
    color: rgb(163, 163, 163);
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    order: 66;
  }


.scenePages{
    display: flex;
    justify-items: center;
    align-items: center;
    /* background-color: indigo; */
    /* width: 100vw; */
    overflow-x: hidden;

    /* background-color: red; */
}
.scenePage{
    /* background-color: rosybrown; */
    display: flex;
    justify-items: center;
    align-items: center;

}

.sceneContainer{
    /* width: 100vw; */
    padding: 20px;
    border: 1px solid rgb(187, 187, 187);
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 8px black inset;
    background-color: rgb(42, 42, 42);
    position: relative;
    /* overflow-y: scroll;
    box-sizing: border-box; */
    /* display: flex; */
}

.noScenesOuterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noScenesContainer{
    /* width: 100vw; */
    padding: 20px;
    border: 1px solid rgb(187, 187, 187);
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 0 8px black inset;
    background-color: rgb(42, 42, 42);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll;
    box-sizing: border-box; */
}



.sceneName{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: white;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.eachScene{
    display: flex;
    flex-wrap: wrap;
}
.nextScene,.prevScene{
    background-color: black;
    width: 40px;
    height: 60%;
    /* border-radius: 40px; */
    cursor: pointer;
    /* height: vh; */
    align-self: center;
    display: flex;
    align-items: center;
    opacity: 50%;
    box-sizing: border-box;
}
.nextScene:hover,.prevScene:hover{
    background-color: rgb(85, 85, 85);
    opacity: 100%;
}
.nextScene{
    border-top-right-radius: 20px;
    border-right: 1px solid white;
    border-bottom-right-radius: 20px;
}
.prevScene{
    border-top-left-radius: 20px;
    border-left: 1px solid white;
    border-bottom-left-radius: 20px;
}

.sceneEditGear{
    position: relative;
    width: 30px;
    top: 6px;
    background-color: rgba(0, 0, 0, 40%);
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    filter: brightness(80%);
    margin-left: 8px;
    animation:clockwise 14s linear infinite;
    cursor: pointer;
}
.sceneEditGear:hover{
    filter: brightness(100%);

}

.firstScene{
    color: white;
    text-decoration: none;
    font-size: 40px;
}
.firstScene:hover{
    border-bottom: 1px solid white;
}
.addCategoryPrompt{
    font-size: 19px;
}
