.ScenePageBody{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* width: 100vw; */
    /* overflow-x: scroll; */
    /* margin: 0 40px; */
    height: 90vh;
    /* background-color: indianred; */
}

.scenePages{
    display: flex;
    justify-items: center;
    align-items: center;
    /* background-color: indigo; */
    /* width: 100vw; */
    overflow-x: scroll;
    /* background-color: red; */
}
.scenePage{
    /* background-color: rosybrown; */
    display: flex;
    justify-items: center;
    align-items: center;
}

.sceneContainer{
    /* width: 100vw; */
    padding: 20px;
    border: 1px solid white;
    height: 80vh;
    /* display: flex; */
}
.sceneName{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: white;
    margin-bottom: 30px;
}
.eachScene{
    display: flex;
}
.nexPrevScene{
    background-color: rgba(0, 0, 0, 70%);
    width: 40px;
    height: 100%;
    cursor: pointer;
}
