body{
    padding: 0;
    margin: 0;
    background-color: rgb(41, 41, 41);
    overflow: hidden;
}

.homepage_wrapper{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    background-color: rgb(0, 255, 0);
    display: flex;
    /* width: 100vh; */
    height: 100vh;
    animation-name: colorChange;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.animated_background {
    /* background-size: cover; */
    margin: 0;
    padding: 0;
    /* width: 100vh; */
    width: 220vh;
    image-rendering: pixelated;
    mix-blend-mode: multiply;
    position: absolute;
    top: -100px;
    z-index: 1;
    display: flex;
    opacity: 0.85;
}
.dmbackground{
    mix-blend-mode: multiply;
    position: absolute;
    top: -330px;
    left: -115px;
    /* width: 130vw; */
}

.formTitle{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    margin: 20px 0;
}



@keyframes colorChange {
    0%   {filter: hue-rotate(0deg);}
    100%   {filter: hue-rotate(360deg);}
  }

  @keyframes fadeOut {
    0%   {filter: hue-rotate(0deg);}
    100%   {filter: hue-rotate(360deg);}
  }

  .navBar{
      width: 100%;
      background-color: black;
      height: 200px;
      position: absolute;
      color: white;
      top: 300px;
      z-index: 5;
      border-top:  1px solid rgb(0, 255, 0);
      border-bottom:  1px solid rgb(0, 255, 0);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }





  .logo-container{
    margin-top: 30px;
    height: 100px;

    /* position: relative; */
  }
  .logo{
      position: absolute;
      top: 64px;
      left: -100px;
  }
  .logo_gif{
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
}

.home-links-container{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-right: 30px;
    z-index: 5000;
}
a.homeLinks,a.homeLinks:active,a.homeLinks:visited,a.homeLinks:active,.demoHomeLink{
    color: white;
    text-decoration: none;
    margin: 0 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
}
a.homeLinks:hover{
    text-decoration: none;
    text-shadow: 0 0 20px rgb(0, 255, 0);
    animation-name: shadowPulse;
    animation-iteration-count:infinite;
    border-bottom: 1px solid rgb(0, 255, 0);
}
.demoHomeLink{
    cursor: pointer;
}
.demoHomeLink:hover{
    border-bottom: 1px solid rgb(0, 255, 0);

}


.spacer{
    color: rgb(0, 255, 0);
}

@media screen and (max-width:1190px) {
    .home-links-container{
        margin-top: 70px;
    }
    .logo-container{
        margin-bottom: 80px;
    }
    .logo{
        position: absolute;
        top: 24px;
        left: -100px;
    }
  }
