.collectionNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin-right: 20px;
    /* padding: 30px; */
    font-family: 'Montserrat', sans-serif;
}
.collectionName{
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
}

.categoryEditGear{
    /* position: absolute; */
    width: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    filter: brightness(0.8);
    margin-left: 8px;
    position: relative;
    top: 4px;
    animation:clockwise 14s linear infinite;
    cursor: pointer;
}
.categoryEditGear:hover{
    filter: brightness(1);
}



.quickSceneContainer{
    /* background-color: rgb(61, 61, 61); */
    height: 35px;
    position: absolute;
    top: -23px;
    left: 40px;
    width: 95%;
    /* border-bottom: 1px solid rgb(204, 204, 204); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 140px; */
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* padding: 5px; */
    /* margin: 0 40px; */
}
.quickSceneComponent{
    /* width: 130px; */
    background-color: rgb(61, 61, 61);
    display: flex;
    /* width: 150px; */
    height: 35px;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    /* padding: 5px 5px 0px 5px; */
    border: solid 1px rgb(155, 155, 155);
    border-radius: 10px;
}
.quickSceneTitle{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    margin: 0 4px 5px 4px;
}
.quickScenePic{
    top: 8px;
    position: relative;
}

.hover{
    cursor: pointer;
  }
  .hover:hover{
    background-color: rgb(94, 94, 94);

  }

@media screen and (max-width: 1125px) {
    .hideSmall{
        display: none;
    }
    .userPageHeader{

        justify-content: space-evenly;

    }

}
