.new_sound_form,.close_new_sound,.new_sound_input,.new_sound_submit,.visible_button,.select_image,.quickScene_form{
    animation-name: colorChange;
    animation-iteration-count:infinite;
    margin: 10px 0;
    animation-timing-function: linear;
}
#theForm{
    width: 100vw;
    height: 100vh;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black_backer{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 200vh;
    z-index: 90;
    position: absolute;
}
.black_fronter_backer{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 190;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}

.loading{
    animation:loading 0.5s linear infinite;
}

@keyframes loading {
    0%   {
        filter: hue-rotate(-360deg);
        transform:rotate(0deg);
    }
    100%   {
        filter: hue-rotate(360deg);
        transform:rotate(-360deg);
    }
  }
.errors{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 0, 0);
    /* background-color: gold; */
    width: 300px;
    padding: 2px 20px;
    position: absolute;
    top: 50px;
    margin-left: 50px;
}
.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.new_sound_form{
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    width: 300px;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(216, 216, 216);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    margin: 10px auto;
    background-color: rgb(58, 58, 58);
    border-radius: 8px;
    border: 1px solid rgb(0, 255, 0);
    animation-duration: 10s;
    position:absolute;
    left: 40%;
    /* top: 10%; */
    z-index: 100;
}

.quickScene_form{
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    width: 650px;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgb(216, 216, 216);
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    /* margin: 10px auto; */
    background-color: rgb(58, 58, 58);
    border-radius: 8px;
    border: 1px solid rgb(0, 255, 0);
    animation-duration: 10s;
    /* position:absolute; */
    left: 40%;
    /* top: 10%; */
    z-index: 100;
}
.soundsForQuickScene{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    border: 2px solid grey;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(33, 32, 32);
    cursor: pointer;
    box-sizing: border-box;
    /* transition: all 0.2s linear; */
}

.soundsForQuickScene:active{
    padding: 3px;
    margin: 5px
}

.soundsForQuickScene:hover{
    background-color: rgb(184, 184, 184);
    color: black;
}
.soundQS_Clicked{
    background-color: rgb(143, 143, 143);
    color: black;
    border: 2px solid rgb(0, 255, 0);
}

.soundsForQuickScene:active{
    background-color: rgb(116, 116, 116);
}

.quickSceneSoundContainer{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px 0;
    margin: 8px 0;
}



.close_new_sound{
    position: absolute;
    color: red;
    top: 3px;
    right: 6px;
    cursor: pointer;
    font-weight: 600;
    animation-duration: 14s;
}

.new_sound_input{
    height: 30px;
    background-color: rgb(99, 99, 99);
    color: white;
    border: 1px solid rgb(0, 255, 0);
    animation-duration: 9s;
}

.new_sound_input:focus {
    animation-duration: 3s;
    animation-name: shadowPulse;
    animation-iteration-count:infinite;
}

.new_sound_submit{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    background-color: rgb(104, 103, 103);
    color: rgb(216, 216, 216);
    border: 1px solid rgb(0, 255, 0);
    animation-duration: 6s;
    z-index: 9000;
}

.visible_button{
    width: 200px;
    height: 27px;
    background-color: rgb(104, 103, 103);
    position: absolute;
    /* font-weight: 400; */
    top: 0;
    z-index: 100;
    /* opacity: 0.75; */
    font-size: 14px;
    width: 115px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 255, 0);
    animation-duration: 7s;
}

.select_image{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(54, 54, 54);
    background-color: white;
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 0;
    margin-left: 3px;
    border: 1px solid rgb(0, 255, 0);
    animation-duration: 8s;

}
.select_image:hover,.new_sound_submit:hover{
    box-shadow: 0 0 12px rgb(255, 0, 0);
    animation-name: shadowPulse;
    animation-duration: 3s;
    animation-iteration-count:infinite;

}
.upload_buttons{
    position: relative;
    width: 300px;
    height: 40px;
    position: relative;
}

.note{
    font-size: 16px;
}

.modalEffect {
    filter: blur(0) brightness(1);
    transition: all 0.5s linear;
}

.darkblur{
    filter: blur(4px) brightness(0.6);

}

.formEffect{
    position: relative;
    opacity: 0;
    z-index: 99;
    filter: blur(20px);
    transition: all 0.5s ease-out;
    transform: scale(150%);
}
.blurIn{
    position: relative;
    filter: blur(0px);
    opacity: 1.0;
    z-index: 99;
    transform: scale(100%);
}


@keyframes colorChange {
    0%   {filter: hue-rotate(0deg);}
    100%   {filter: hue-rotate(360deg);}
  }

  @keyframes shadowPulse {
    0%     {box-shadow: 0 0 7px rgb(255, 0, 0);}
    10%    {box-shadow: 0 0 13px rgb(255, 0, 0);}
    20%   {box-shadow: 0 0 7px rgb(255, 0, 0);}
    30%    {box-shadow: 0 0 13px rgb(255, 0, 0);}
    40%   {box-shadow: 0 0 7px rgb(255, 0, 0);}
    50%    {box-shadow: 0 0 13px rgb(255, 0, 0);}
    60%   {box-shadow: 0 0 7px rgb(255, 0, 0);}
    70%    {box-shadow: 0 0 13px rgb(255, 0, 0);}
    80%   {box-shadow: 0 0 7px rgb(255, 0, 0);}
    90%    {box-shadow: 0 0 13px rgb(255, 0, 0);}
    100%   {box-shadow: 0 0 7px rgb(255, 0, 0);}
  }
